.main {
  display: flex;
  min-height: 100vh;
  background-color: #364156;
  font-family: Montserrat;
}

.sidemenu{
  width: 260px;
  color: white;
  padding: 10px;
  background-color: #212d40;
  min-height: 100vh;
}

.chatbot{
  flex: 1;
  position: relative;
}

.side_menu_button{
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  transition:ease 0.25s all;
}

.side_menu_button:hover{
  background: rgb(255, 255, 255,0.1);
}

.side_menu_button span{
  padding-right: 12px;
  padding-left: 6px;
  font-size: larger;
}

.chat_input{
  display: flex;
  padding: 24px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.chat_input_area{
  background-color: #212d40;
  width: 90%;
  border-radius: 5PX;
  border: none;
  margin: 12px;
  outline: none;
  color: white;
  font-size: 1.25em;
  padding: 12px;
  box-shadow: 0 0 8px 0 rgb(0, 0, 0,0.25);
}
